@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-backround-color: #131313;
    --primary-text-color: #ffffff;
    --second-text-color: #9A9A9A;
    --third-text-color: #0A84FF;
}

h1, h2, h3, h4, h5, h6, span, p, input, button, textarea, select, label, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--primary-backround-color);
    font-family: "Roboto", sans-serif;
    cursor: crosshair;
    padding-top: 80px;
    /* padding: 80px 0; */
}

.main{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* ------------ First Section ------------ */

.firstSection{
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.textContainerSide{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 171px;
}

.firstText{
    font-size: 95px;
    font-weight: 500;
    color: var(--primary-text-color);
    line-height: 100px;
}

.fontText{
    font-family: "Pacifico", cursive;
}

.firstInfoContainer{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
    text-decoration: none;
}

.buttonContainer{
    height: auto;
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}

.buttonIcon{
    height: 25px;
    aspect-ratio: 1;
    margin-bottom: -7px;
}

.buttonTopic{
    font-size: 19px;
    font-weight: bold;
    color: var(--primary-text-color);
    line-height: 0px;
    text-decoration: none;
}

.buttonInfo{
    font-size: 19px;
    font-weight: 400;
    color: var(--second-text-color);
    line-height: 0px;
}

.firstImage{
    height: 600px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-text-color);
    border-radius: 44px;
    user-select: none;
}

.imgIcon{
    height: 120px;
    aspect-ratio: 1;
}

/* ------------ Responsive ------------ */

@media screen and (max-width: 1170px) {
    body{
        padding: 40px 0;
    }

    /* ------------ LeftContainerSide ------------ */
    
    .firstSection{
        width: 330px;
        flex-direction: column;
    }

    .textContainerSide{
        height: auto;
        width: 100%;
        justify-content: flex-start;
        margin-right: 0;
    }

    .firstText{
        font-size: 48px;
        line-height: 53px;
        width: 100%;
    }

    .firstInfoContainer{
        flex-direction: column;
        gap: 30px;
        margin-top: 35px;
    }

    .buttonContainer{
        width: 100%;
    }

    /* ------------ RightContainerSide ------------ */

    .firstImage{
        height: 600px;
        width: 330px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-text-color);
        border-radius: 44px;
        user-select: none;
        margin-top: 75px;
    }
}

/* ------------ projectSection ------------ */

.projectSection{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projectStatus{
    font-size: 22px;
    font-weight: bold;
    color: var(--primary-text-color);
}

@media screen and (max-width: 1170px) {
    .projectSection{
        width: 330px;
    }
}